<h1>Theatrix</h1>
<main>
    <h2>Editing Theatre Info for: <%= @theatre.name %></h2>

    <form action='/theatres/<%= @theatre.id %>' method='post'>
        <input name='_method' type='hidden' value='patch'>

        <label>
            Theatre Name
            <input name='name' type='text' placeholder='<%= @theatre.name %>'>
        </label>
        <label>
            Image URL
            <input name='img' type='text' placeholder='<%= @theatre.img %>'>
        </label>
        <label>
            Theatre Location
            <input name='location' type='text' placeholder='<%= @theatre.location %>'>
        </label>
        <hr>
        <p>Add Showing</p>
        <label>
            Movie Name
            <input name='movie_name' type='text'>
        </label>
        <label>
            Showtime
            <input name='showtime' type='text'>
        </label>
        <button type='submit'>Go!</button>
    </form>

    <form action='/theatres/<%= @theatre.id %>' method='post'>
        <input name='_method' type='hidden' value='delete'>

        <button type='submit'>Delete Theatre</button>
    </form>
</main>
